Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login$ pages/_login.php [L]
RewriteRule ^act-login$ process/_cek_login.php [L]
RewriteRule ^dashboard$ pages/_dashboard.php?page=dashboard [L]
RewriteRule ^daftar-pegawai$ pages/_dashboard.php?page=daftar-pegawai [L]
RewriteRule ^daftar-pegawai-halaman-([0-9]+)$ pages/_dashboard.php?page=daftar-pegawai&halaman=$1 [L]
RewriteRule ^daftar-tkjp-mk$ pages/_dashboard.php?page=daftar-tkjp-mk [L]
RewriteRule ^daftar-tkjp-mk-halaman-([0-9]+)$ pages/_dashboard.php?page=daftar-tkjp-mk&halaman=$1 [L]
RewriteRule ^tambah-data-pekerja$ pages/_dashboard.php?page=tambah-data-pekerja [L]
RewriteRule ^tambah-data-tkjp-mk$ pages/_dashboard.php?page=tambah-data-tkjp-mk [L]
RewriteRule ^edit-data-pekerja-([0-9]+)$ pages/_dashboard.php?page=edit-data-pekerja&id=$1 [L]
RewriteRule ^edit-data-tkjp-mk-([0-9A-Z-]+)$ pages/_dashboard.php?page=edit-data-tkjp-mk&id=$1 [L]
RewriteRule ^simpan-pekerja$ process/_save_data.php?action=simpan-pekerja [L]
RewriteRule ^simpan-update-pekerja-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-update-pekerja&id=$1 [L]
RewriteRule ^hapus-data-pekerja-([0-9A-Z-]+)$ process/_delete_data.php?action=hapus-data-pekerja&id=$1 [L]

RewriteRule ^data-checkup$ pages/_dashboard.php?page=data-checkup [L]
RewriteRule ^data-checkup-halaman-([0-9]+)$ pages/_dashboard.php?page=data-checkup&halaman=$1 [L]
RewriteRule ^input-data-checkup-([0-9A-Z-]+)$ pages/_dashboard.php?page=input-data-checkup&id=$1 [L]
RewriteRule ^edit-data-checkup-([0-9A-Z-]+)$ pages/_dashboard.php?page=edit-data-checkup&id=$1 [L]
RewriteRule ^simpan-checkup-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-checkup&id=$1 [L]
RewriteRule ^simpan-update-checkup-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-update-checkup&id=$1 [L]
RewriteRule ^hapus-data-checkup-([0-9A-Z-]+)$ process/_delete_data.php?action=hapus-data-checkup&id=$1 [L]
RewriteRule ^rekap-data-checkup$ pages/_dashboard.php?page=rekap-data-checkup [L]
RewriteRule ^rekap-data-checkup-harian$ pages/_dashboard.php?page=rekap-data-checkup-harian [L]
RewriteRule ^persentase-dcu-harian$ pages/_dashboard.php?page=persentase-dcu-harian [L]
RewriteRule ^persentase-dcu-bulanan$ pages/_dashboard.php?page=persentase-dcu-bulanan [L]
RewriteRule ^persentase-dcu-high-risk$ pages/_dashboard.php?page=persentase-dcu-high-risk [L]
RewriteRule ^pencarian-data-checkup$ pages/_dashboard.php?page=pencarian-data-checkup [L]
RewriteRule ^detail-data-checkup-pekerja-([0-9A-Z-]+)-([0-9]+)-([0-9]+)$ pages/_dashboard.php?page=detail-data-checkup-pekerja&id=$1&bulan=$2&tahun=$3 [L]
RewriteRule ^high-risk-checkup$ pages/_dashboard.php?page=high-risk-checkup [L]
RewriteRule ^daftar-visitor$ pages/_dashboard.php?page=daftar-visitor [L]
RewriteRule ^daftar-visitor-halaman-([0-9]+)$ pages/_dashboard.php?page=daftar-visitor&halaman=$1 [L]
RewriteRule ^tambah-data-visitor$ pages/_dashboard.php?page=tambah-data-visitor [L]
RewriteRule ^simpan-visitor$ process/_save_data.php?action=simpan-visitor [L]
RewriteRule ^edit-data-visitor-([0-9]+)$ pages/_dashboard.php?page=edit-data-visitor&id=$1 [L]
RewriteRule ^simpan-update-visitor-([0-9]+)$ process/_save_data.php?action=simpan-update-visitor&id=$1 [L]
RewriteRule ^hapus-data-visitor-([0-9]+)$ process/_delete_data.php?action=hapus-data-visitor&id=$1 [L]
RewriteRule ^data-checkup-visitor$ pages/_dashboard.php?page=data-checkup-visitor [L]
RewriteRule ^data-checkup-visitor-halaman-([0-9]+)$ pages/_dashboard.php?page=data-checkup-visitor&halaman=$1 [L]
RewriteRule ^input-data-checkup-visitor-([0-9]+)$ pages/_dashboard.php?page=input-data-checkup-visitor&id=$1 [L]
RewriteRule ^edit-data-checkup-visitor-([0-9]+)$ pages/_dashboard.php?page=edit-data-checkup-visitor&id=$1 [L]
RewriteRule ^simpan-checkup-visitor-([0-9]+)$ process/_save_data.php?action=simpan-checkup-visitor&id=$1 [L]
RewriteRule ^simpan-update-checkup-visitor-([0-9]+)$ process/_save_data.php?action=simpan-update-checkup-visitor&id=$1 [L]
RewriteRule ^hapus-data-checkup-visitor-([0-9]+)$ process/_delete_data.php?action=hapus-data-checkup-visitor&id=$1 [L]
RewriteRule ^daftar-pengguna$ pages/_dashboard.php?page=daftar-pengguna [L]
RewriteRule ^daftar-pengguna-halaman-([0-9]+)$ pages/_dashboard.php?page=daftar-pengguna&halaman=$1 [L]
RewriteRule ^tambah-data-pengguna$ pages/_dashboard.php?page=tambah-data-pengguna [L]
RewriteRule ^simpan-pengguna$ process/_save_data.php?action=simpan-pengguna [L]
RewriteRule ^edit-data-pengguna-([0-9]+)$ pages/_dashboard.php?page=edit-data-pengguna&id=$1 [L]
RewriteRule ^simpan-update-pengguna-([0-9]+)$ process/_save_data.php?action=simpan-update-pengguna&id=$1 [L]
RewriteRule ^hapus-data-pengguna-([0-9]+)$ process/_delete_data.php?action=hapus-data-pengguna&id=$1 [L]
RewriteRule ^daftar-perusahaan$ pages/_dashboard.php?page=daftar-perusahaan [L]
RewriteRule ^daftar-perusahaan-halaman-([0-9]+)$ pages/_dashboard.php?page=daftar-perusahaan&halaman=$1 [L]
RewriteRule ^tambah-data-perusahaan$ pages/_dashboard.php?page=tambah-data-perusahaan [L]
RewriteRule ^edit-data-perusahaan-([0-9A-Z-]+)$ pages/_dashboard.php?page=edit-data-perusahaan&id=$1 [L]
RewriteRule ^simpan-perusahaan$ process/_save_data.php?action=simpan-perusahaan [L]
RewriteRule ^simpan-update-perusahaan-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-update-perusahaan&id=$1 [L]
RewriteRule ^hapus-data-perusahaan-([0-9A-Z-]+)$ process/_delete_data.php?action=hapus-data-perusahaan&id=$1 [L]
RewriteRule ^daftar-fungsi$ pages/_dashboard.php?page=daftar-fungsi [L]
RewriteRule ^daftar-fungsi-halaman-([0-9]+)$ pages/_dashboard.php?page=daftar-fungsi&halaman=$1 [L]
RewriteRule ^tambah-data-fungsi$ pages/_dashboard.php?page=tambah-data-fungsi [L]
RewriteRule ^edit-data-fungsi-([0-9A-Z-]+)$ pages/_dashboard.php?page=edit-data-fungsi&id=$1 [L]
RewriteRule ^simpan-fungsi$ process/_save_data.php?action=simpan-fungsi [L]
RewriteRule ^simpan-update-fungsi-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-update-fungsi&id=$1 [L]
RewriteRule ^hapus-data-fungsi-([0-9A-Z-]+)$ process/_delete_data.php?action=hapus-data-fungsi&id=$1 [L]
RewriteRule ^ubah-password$ pages/_dashboard.php?page=ubah-password [L]
RewriteRule ^simpan-password$ process/_save_data.php?action=simpan-password [L]
RewriteRule ^data-mcu-pekerja$ pages/_dashboard.php?page=data-mcu-pekerja [L]
RewriteRule ^data-mcu-pekerja-halaman-([0-9]+)$ pages/_dashboard.php?page=data-mcu-pekerja&halaman=$1 [L]
RewriteRule ^data-mcu-tkjp-mk$ pages/_dashboard.php?page=data-mcu-tkjp-mk [L]
RewriteRule ^data-mcu-tkjp-mk-halaman-([0-9]+)$ pages/_dashboard.php?page=data-mcu-tkjp-mk&halaman=$1 [L]
RewriteRule ^input-mcu-pekerja-([0-9]+)$ pages/_dashboard.php?page=input-mcu-pekerja&id=$1 [L]
RewriteRule ^input-mcu-tkjp-mk-([0-9A-Z-]+)$ pages/_dashboard.php?page=input-mcu-tkjp-mk&id=$1 [L]
RewriteRule ^simpan-medical-checkup-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-medical-checkup&id=$1 [L]
RewriteRule ^daftar-kotak-p3k$ pages/_dashboard.php?page=daftar-kotak-p3k [L]
RewriteRule ^tambah-data-kotak-p3k$ pages/_dashboard.php?page=tambah-data-kotak-p3k [L]
RewriteRule ^simpan-kotak-p3k$ process/_save_data.php?action=simpan-kotak-p3k [L]
RewriteRule ^edit-data-kotak-([0-9A-Z-]+)$ pages/_dashboard.php?page=edit-data-kotak&id=$1 [L]
RewriteRule ^simpan-update-kotak-p3k-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-update-kotak-p3k&id=$1 [L]
RewriteRule ^hapus-data-kotak-p3k-([0-9A-Z-]+)$ process/_delete_data.php?action=hapus-data-kotak-p3k&id=$1 [L]
RewriteRule ^detail-data-kotak-([0-9A-Z-]+)$ pages/_dashboard.php?page=detail-data-kotak&id=$1 [L]
RewriteRule ^tambah-data-isi-kotak-p3k-([0-9A-Z-]+)$ pages/_dashboard.php?page=tambah-data-isi-kotak-p3k&id=$1 [L]
RewriteRule ^simpan-isi-kotak-p3k-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-isi-kotak-p3k&id=$1 [L]
RewriteRule ^edit-data-isi-kotak-p3k-([0-9]+)$ pages/_dashboard.php?page=edit-data-isi-kotak-p3k&id=$1 [L]
RewriteRule ^simpan-update-isi-kotak-p3k-([0-9A-Z-]+)$ process/_save_data.php?action=simpan-update-isi-kotak-p3k&id=$1 [L]
RewriteRule ^hapus-data-isi-kotak-p3k-([0-9]+)$ process/_delete_data.php?action=hapus-data-isi-kotak-p3k&id=$1 [L]
RewriteRule ^logout$ process/_logout.php [L]


